[submodule "third-party/vmprotect-sdk"]
	path = third-party/vmprotect-sdk
	url = https://github.com/gesellschaftsmitglieder/vmprotect-sdk
[submodule "third-party/cryptopp-cmake"]
	path = third-party/cryptopp-cmake
	url = https://github.com/abdes/cryptopp-cmake
[submodule "third-party/kthook"]
	path = third-party/kthook
	url = https://github.com/neovstan/kthook.git
[submodule "third-party/infoware"]
	path = third-party/infoware
	url = https://github.com/ThePhD/infoware
[submodule "shared/arcane_packets"]
	path = shared/arcane_packets
	url = https://github.com/neovstan/arcane_packets
[submodule "third-party/SAMP-API"]
	path = third-party/SAMP-API
	url = https://github.com/neovstan/SAMP-API.git
[submodule "third-party/nlohmann_json"]
	path = third-party/nlohmann_json
	url = https://github.com/nlohmann/json
[submodule "third-party/cmake-imgui"]
	path = third-party/cmake-imgui
	url = https://github.com/neovstan/cmake-imgui
