[submodule "third-party/kthook"]
	path = third-party/kthook
	url = https://github.com/kin4stat/kthook
[submodule "third-party/sampapi"]
	path = third-party/sampapi
	url = https://github.com/kin4stat/SAMP-API
[submodule "third-party/vmprotect-sdk"]
	path = third-party/vmprotect-sdk
	url = https://github.com/gesellschaftsmitglieder/vmprotect-sdk
[submodule "third-party/mariadbpp"]
	path = third-party/mariadbpp
	url = https://github.com/viaduck/mariadbpp
[submodule "third-party/plog"]
	path = third-party/plog
	url = https://github.com/SergiusTheBest/plog
